.menu-lateral-box ul li {
    list-style-type: none;
    cursor: pointer;
    user-select: none;
    color: #25396f;
    margin-bottom: 10px;
    padding: .7rem 1rem;
    border-radius: .5rem;
    width: 80%;
}

.menu-lateral-box ul li:hover {
    background-color: rgba(96, 114, 134, 0.637);
    margin-left: 20px;
}

.menu-lateral-box li span {
    margin-left: 10px;
}

.menu-lateral-box .active {
    background-color: #25396f;
    color: white;
}

.menu-lateral-box .active:hover {
    background-color: #25396f;
    color: white;
}