.form-box-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 15px
}

.form-box-2 .input-field {
    flex: 1;
    margin-right: 20px;
    padding-bottom: 10px;
    width: 100%;
}

.form-box-2 .input-field:last-child {
    margin-right: 0;
}

.form-box-2 label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-box-2 span,
.form-box-2 input {
    display: block;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}

.form-box-2 .btn-box button {
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    background-color: #25396f;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: transform 0.1s, background-color 0.1s;
}

.form-box-2 .btn-box button:hover {
    background-color: #112869;
}

.form-box-2 .btn-box button:active {
    transform: scale(0.95);
    background-color: #0f214d;
}

/* Estilo para o switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .input-field .switch-label {
    margin-left: 10px;
    font-weight: bold;
    vertical-align: middle;
  }
  