.table-container {
    width: 100%;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.styled-table thead tr {
    background-color: #25396f;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
    cursor: pointer;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #25396f;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: black;
}