.table-container {
    width: 100%;
    margin: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.styled-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.table-header, .table-row {
    display: flex;
}

.header-cell, .table-cell {
    flex: 1;
    min-width: 100px; /* Define a largura mínima para as colunas */
    max-width: 20%; /* Define a largura máxima para as colunas */
    padding: 12px 15px;
    box-sizing: border-box;
}

.table-header {
    background-color: #25396f;
    color: #ffffff;
}

.table-row:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table-row {
    border-bottom: 1px solid #dddddd;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-icon {
    margin-right: 10px;
    cursor: pointer;
}

.column-name {
    flex-grow: 1;
    text-align: left;
    cursor: pointer;
}

.sort-icon {
    margin-left: 10px;
}

.filter-input {
    margin-top: 5px;
    width: calc(100% - 24px);
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.pagination {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination button {
    padding: 8px 16px;
    margin: 0 4px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    border-radius: 4px;
}

.pagination button:hover {
    background-color: #e0e0e0;
}

.pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}
