*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Nunito;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.menu-lateral-box {
  flex: 0.2;
  height: 100vh;
  width: 100%;
  font-size: 1rem;
  padding: 0 10px;
}

.menu-lateral-box .logo {
  text-align: center;
}

.menu-lateral-box .logo img {
  width: 200px;
  margin-bottom: 1rem;
}

.menu-lateral-box ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-lateral-box ul a {
  list-style-type: none;
    cursor: pointer;
    user-select: none;
    color: #25396f;
    margin-bottom: 10px;
    padding: .7rem 1rem;
    border-radius: .5rem;
    width: 80%;
    text-decoration: none;
}

.menu-lateral-box ul a:hover {
  background-color: rgba(96, 114, 134, 0.637);
  margin-left: 20px;
}

.menu-lateral-box li span {
  margin-left: 10px;
}

.menu-lateral-box .active {
  background-color: #25396f;
  color: white;
}

.menu-lateral-box .active:hover {
  background-color: #25396f;
  color: white;
}

.page-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100vh;
  background-color: #f2f7ff;
  font-weight: 700;
  color: #25396f;
  padding: 2rem 2rem .1rem 2rem;
}

.page-box .page-box-container {
  flex: 1;
    background-color: white;
    padding: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
} 

.page-box .footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; 
  padding: 10px;
  
}
.page-box .footer div {
}

/* Estilo da div que contém o input e o label */
.input-field {
  position: relative;
  margin: 1.5rem;
  flex: 1 1 calc(33.33% - 3rem);
  /* 3 inputs por linha, considerando a margem */
  box-sizing: border-box;
}

/* Estilo do input */
.input-field input {
  border: none;
  border-bottom: 1px solid #9e9e9e;
  outline: none;
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem 0;
  transition: border-color 0.3s;
}

/* Estilo do input focado */
.input-field input:focus {
  border-bottom: 2px solid #25396f;
}

.input-field input[type="text"][disabled] {
  background-color: transparent;
}

/* Estilo do label */
.input-field label {
  color: #9e9e9e;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1rem;
  transition: transform 0.2s ease-in-out, font-size 0.2s ease-in-out;
  pointer-events: none;
}

/* Estilo do label quando o input está focado ou preenchido */
.input-field input:focus+label,
.input-field input:not(:placeholder-shown)+label {
  transform: translateY(-1.5rem);
  font-size: 0.8rem;
  color: #25396f;
}

.form-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin: 1.5rem;
  width: 100%;
}

.form-group label {
  /* flex: 0 0 150px; */
  font-weight: bold;
}

.form-group input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 16px;
  margin-left: 10px;
  background-color: #72AFD4;
}


.form-group input:focus {
  outline: none;
  border-color: #25396f;
}

.form-group .form-control-static {
  flex: 1;
  padding: 8px;
  border: 1px solid transparent;
  background-color: #f7f7f7;
  border-radius: 4px;
}

.form-group .form-control-static:focus {
  outline: none;
  border-color: transparent;
}

.btn-box {
  flex: 1;
  /* background-color: yellow; */
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}

.btn-box button {
  padding: 10px;
  border-radius: 15px;
  width: 13%;
  background-color: #25396f;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: transform 0.1s, background-color 0.1s;
}

.btn-box button:hover {
  background-color: #112869;
}

.btn-box button:active {
  transform: scale(0.95);
  background-color: #0f214d;
}